*{
    box-sizing: border-box;
    margin : 0;
    padding : 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height : 1.4;
}

.footer{
    clear:both;
    position:fixed;
    bottom: 0px;
    left : 0;
    width : 100%;
    background-color : #ddd;
    padding : 10px;
}

a{
    color : #333;
    text-decoration: none;
}

.text-center{
    text-align: center;
}
.app-wrapper{
    margin-bottom: 200px;
    padding: 20px 20px 400px 20px;
}
.flags-wrapper{
    text-align : center;
    margin-top : 40px;
}

.flags-wrapper button{
    margin : 10px;
    opacity: 1;
    transition : 400ms;
    border:none;
    cursor: pointer;
}
.flags-wrapper button img{
    height : 100px;
    width : 180px;
    border-radius : 10px;
}

.flags-wrapper button:hover{
    opacity : 0.8;
    transition : 400ms;
}

.form-row{
    display: block;
    margin:10px auto 20px auto;
    max-width: 600px;
}

.bold{
    font-weight: bold;
}

.pull-right{
    float:right;
}
/* result styles */
.result-container ul{
    list-style-type: none;
}
.result-container ul li{
    margin : 10px 0 10px 0;
}